<dl>
<% cookies.fetch("counter").to_i.times do |counter| %>
  <dt>user</dt>
  <dd><%= cookies.fetch("message_#{counter}") %></dd>

  <dt>assistant</dt>
  <dd><%= cookies.fetch("gpt_response_#{counter}") %></dd>
<% end %>
</dl>

<form action="/add_message_to_chat" method="post">
  <label for="new_message_field">You:</label>
  
  <input id="new_message_field" type="text" name="user_message" placeholder="Enter a message....">

  <button>Send</button>
</form>

<hr>

<form action="/clear_chat" method="post">
  <button>Clear chat history</button>
</form>
