<dl>
  <dt>user</dt>
  <dd>test</dd>

  <dt>assistant</dt>
  <dd>Hello! How can I assist you today?</dd>
</dl>

<form action="/add_message_to_chat" method="post">
  <label for="new_message_field">You:</label>
  
  <input id="new_message" type="text" name="user_message" placeholder="Enter a message....">

  <button>Send</button>
</form>

<hr>

<form action="/clear_chat" method="post">
  <button>Clear chat history</button>
</form>
