<h1>GPT single message</h1>

<form action="/process_single_message" method="post">
  <label for="the_message_field">Your message:</label>
  <input id="the_message_field" type="text" name="the_message">

  <button>Send!</button>
</form>
